html {
  margin: 0;
  padding: 0;

  font: normal 100%/1.4 Georgia,serif;
}

.masthead {
  padding: 1em;
  background: #000531 url("../img/nebula.jpg") no-repeat center center;
  background-size: cover;

  color: #fff;
}

.masthead-planets {
  background-image: url("../img/nebula-2.jpg");
}

.current {
  background-color: #000531;
  color: #fff;
}

nav {
  height: 42px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: list-item;

  list-style-type: disc;
}

li {
  display: inline-block;
}

.nav-top {
  font-size: 1.25em;
}

.blog {
    display: list-item;
    list-style-type: disc;
}

.blog-info {
  display: block;
}
